.container {
  width: 400px;
  height: 600px;
  border: 5px dashed black;
  background-color: aqua;

  color: aliceblue;

  font-size: 0px;
}

p {
  margin: 0px
    /* container박스 안에 꽉 채우기 위해. */
}


.header {
  width: 400px;
  height: 200px;
  background-color: red;
  font-size: 15px;
}

.left {
  width: 200px;
  height: 200px;
  background-color: blue;

  display: inline-block;
  font-size: 15px;

  vertical-align: top;
  /* 왼쪽 태그 또는 오른쪽 태그 둘중 하나라도
  글을 삭제하면 이상하게 바뀐다. 그것을 해결하는방법. */
}

.rifgt {
  width: 200px;
  height: 200px;
  background-color: green;

  display: inline-block;
  font-size: 15px;
}

.footer {
  width: 400px;
  height: 200px;
  background-color: rgb(106, 9, 77);
  font-size: 15px;


}